@media screen and (min-width: 1px) and (max-width: 767px) {
  .menu {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}
.burger {
  width: 480px;
  min-height: 453px;
}
