.hero {
  text-align: center;
  max-width: 696px;
  margin: auto;
  &-text {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primary-begf-team;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include for-size(phone-only) {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.61;
      text-align: center;
    }
    @include for-size(tablet-portrait) {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.61;
      text-align: center;
    }
    @include for-size(tablet-landscape) {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.61;
      text-align: center;
    }
    @include for-size(desktop) {
      min-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
.f-hero {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 210px;
  padding-bottom: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: $primari-text-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/fon.jpg);
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;

  @include for-size(desktop) {
    max-width: 1600px;
  }
}
