.logo {
  color: $title-text-color;
  font-family: $font-famali-logo;
  font-size: 26px;
  line-height: 1.19;

  .logo-up {
    color: $accent-color;
  }
}
.logo-d {
  color: $primary-beg-color;
}
