.container-title {
  display: flex;

  li:not(:last-child) {
    margin-right: 30px;
  }
}
.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: $color-svg;
  border-radius: 4px;
}
.customers-tree {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-svg {
  fill: $color-svg;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers:hover .customers-svg {
  fill: $title-text-color;
  border-color: $title-text-color;
}
.container .title {
  margin-bottom: 50px;
}
.e-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $primary-begf-color;
  color: $primary-beg-color;
  margin-right: 12px;
}
