body {
  color: $accent-color;
  background-color: $primary-beg-color;
  font-family: $font-famali;
  letter-spacing: 0.03em;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0px;
  // outline: 1px solid red;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1140px) {
    width: 1140px;
  }
}
img {
  display: block;
}
.ex-work h2,
.container h2 {
  margin-bottom: 50px;
}
// a {
//   text-decoration: none; /* Отменяем подчеркивание у ссылки */
// }
