$primari-text-color: #757575;
$title-text-color: #2196f3;
$accent-color: #212121;
$primary-beg-color: #ffffff;
$primary-begf-color: #2f303a;
$primary-begf-team: #f5f4fa;
$font-famali: Roboto, sans-serif;
$font-famali-logo: Raleway, sans-serif;
$color-svg: #afb1b8;
